@import '~normalize.css/normalize.css';

:root {
    --side-color: #c2b1a5;
    --correct-color: #4fd12d;
    --wrong-color: #ea1b1f;
}

@font-face {
    font-family: "HelveticaNeueLTProRoman";
    src: url(assets/HelveticaNeueLTPro-Roman.otf) format("opentype");
}

@font-face {
    font-family: "IndianTypeFoundry";
    src: url("assets/Indian Type Foundry - Editor Medium.otf") format("opentype");
}

html {
    font-family: "HelveticaNeueLTProRoman";
    font-size: 18px;
    text-transform: uppercase;

    overflow: hidden;
    color: black;
    background-color: #eee;
}

#app > div {
    width: 1280px;
    height: 800px;
    margin: auto;

    background-image: linear-gradient(to right, var(--side-color) 280px, white 280px);
}

#logo {
    background-image: url(assets/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

button {
    box-sizing: border-box;
    width: 300px;
    height: 70px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

    button.black {
        background-color: black;
        color: white;
    }

    button.answer.correct {
        background-color: var(--correct-color);
        border-color: var(--correct-color);
        color: white;
    }

        button.answer.correct.hint {
            background-color: white;
            color: black;
        }

    button.answer.wrong {
        background-color: var(--wrong-color);
        border-color: var(--wrong-color);
        color: white;
    }

    button.language {
        width: 100px;
    }

#actions {
    text-align: right;
}

#actions,
#answers {
    margin-right: 150px;
}

#page-welcome {
    display: grid;
    grid-template-areas:
        ". .      ."
        ". header title"
        ". .      actions";
    grid-template-columns: 150px 330px 1fr;
    grid-template-rows: 130px 1fr 80px;
    grid-gap: 20px;
}

    #page-welcome #logo {
        grid-area: header;
        background-position: top;
    }

    #page-welcome #title {
        grid-area: title;
        margin-top: 190px;
        font-weight: normal;
        font-size: 52px;
        line-height: 1em;
    }

    #page-welcome #actions {
        grid-area: actions;
    }

        #page-welcome button.language {
            margin-right: 100px;
        }

/*
button,
button:focus {
    border: 3px solid black;
    background: transparent;
    outline: none;
}

#page-welcome,
#page-score {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 70%;
    margin: auto;
}

    #page-welcome button,
    #page-score button {
        width: 200px;
        padding: 0.5em;
    }

#page-quiz {
    display: grid;
    grid-template-areas:
        "header header   header   header"
        ".      .        .        ."
        ".      question question ."
        ".      answer1  answer2  ."
        ".      answer3  answer4  ."
        ".      .        .        .";
    grid-template-columns: 1fr 45vw 45vw 1fr;
    grid-template-rows: 10vh 5vh 18vh auto auto 20vh;
    grid-gap: 20px;
}

    #page-quiz #header { grid-area: header; }
    #page-quiz #question { grid-area: question; }
    #page-quiz .answer:nth-of-type(1) { grid-area: answer1; }
    #page-quiz .answer:nth-of-type(2) { grid-area: answer2; }
    #page-quiz .answer:nth-of-type(3) { grid-area: answer3; }
    #page-quiz .answer:nth-of-type(4) { grid-area: answer4; }

    #page-quiz .answer {
        background: white;
        color: black;

        transition-duration: 200ms;
        transition-timing-function: linear;
        transition-property: background-color, border-color, color;
    }

    #page-quiz .answer.correct { background: limegreen; }
    #page-quiz .answer.wrong { background: crimson; } */
